<h1><%= @post.product %></h1>
<p><%= @post.description %></p>
<p>US&amp;<%= @post.price %></p>

<%= image_tag(@post.image.thumb.url) if @post.image? %>

<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn' %>
<% end %>

</br>
 
<div class="row">
 <h2>Comments</h2>
 <div class='col-md-12'>
   <%= render @comments %>
   <%= render 'comments/form', topic: @topic, comment: @comment, post: @post %>
 </div>
</div>
