<div class="col s12 m5 post">
  <div class="col s12 post_back_voter">
    <div class="col s6">
      <%= link_to posts_path, class: 'btn-back btn btn-floating' do %>
         <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Back to list">arrow_back</i>
      <% end %>
    </div>
    <div class="col s6 ">
      <%= render partial: 'votes/voter', locals: { post: @post }, class: "voting" %>
    </div>
  </div>
  <hr>
  <div style="color: #999">
    <small><%= pluralize(@post.points, 'point') %> |</small>
    <small>
      <%= pluralize(@post.up_votes, 'up vote') %>,
      <%= pluralize(@post.down_votes, 'down vote') %>
    </small>
  </div>

  <a class=""><i class="material-icons"></i></a><br><br>
  <small class="post_small">Product:</small>
  <h4><%= @post.product %></h4>
  <br>
  <small class="post_small">Asking price:</small>
  <h4>US$<%= @post.price %></h4>
  <br>
  <small class="post_small">Description:</small>
  <p><%= @post.description %></p>
  <br>
  <small class="post_small">Category:</small>
  <p><%= @post.category %></p>

  <br>
  <small class="post_small">Condition:</small>
  <p><%= @post.category %></p>

  <br>
  <%= link_to "Take my money!", root_path, class: "btn" %>

  <br><br>

  <% if policy(@post).edit? %>
    <%= link_to "Edit post", edit_post_path(@post) %> |
  <% end %>

  <% if policy(@post).destroy? %>
    <%= link_to "Destroy post", @post,  method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
  <% end %>

  <br><br>
   
   <hr/>
  <% if policy(@comment).new? %>
    <%= render 'comments/form' %><br><br>
    <%= render @comments %>   
  <% end %>
</div>

<div class="col s7 images-column">
 <small class="post_small">Images:</small>
<%= image_tag(@post.image.url) if @post.image? %>
</div>