<!DOCTYPE html>
<html>
<head>
  <title>The Shinobiri Market.</title>
  <!-- CUSTOM FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,900,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="z-depth-0">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Shinobiri</a>
    </div>
  </nav>

  <div class="container left main-content">
    <% if flash[:notice] %>
       <div class="alert alert-success">
         <button type="button" class="close right" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
       </div>
     <% elsif flash[:error] %>
       <div class="alert alert-danger">
         <button type="button" class="close right" data-dismiss="alert">&times;</button>
         <%= flash[:error] %>
       </div>
     <% elsif flash[:alert] %>
       <div class="alert alert-warning">
         <button type="button" class="close right" data-dismiss="alert">&times;</button>
         <%= flash[:alert] %>
       </div>
     <% end %>

    <%= yield %>
  </div>

    
    <nav class="z-depth-0 footer">
      <% if current_user %>
             Hello, deshi. 
           <% else %>
             <small><em>Per populum, pro populo.</em></small>
           <% end %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/about"><i class="material-icons">info_outline</i></a></li>
        <li><a href="/products"><i class="material-icons">explore</i></a></li>
        <div class="user-info right">
          <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons exit_app">exit_to_app</i>
            <% end %>
           <% else %>
             <li><a href="/users/sign_in"><i class="material-icons">account_circle</i></a></li>
             <li><a href="/users/sign_up"><i class="material-icons">person_add</i></a></li>
           <% end %>
         </div>
      </ul>
  </nav>
</body>

</html>
