
<!--
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # #                                                                 # # #
# # #   P R O J E C T   " S H I N O B I R I "                         # # #
# # #   - - - - - - - - - - - - - - - - - - -                         # # #
# # #                                                                 # # #
# # #   Capstone project for the 2016 TTS Dallas part time cohort.    # # #
# # #                                                                 # # #
# # #   The idea is to create a "craigslist" type of market where     # # #
# # #   the goal of the user is met in the most efficient way         # # #
# # #   possible. Shinobiri is a free tool where the users sell       # # #
# # #   goods and control their transactions.                         # # # 
# # #                                                                 # # #
# # #   Shinobiri is an open marketplace but we also have rules.      # # #
# # #   A few simple rules used to protect the users and respect      # # #
# # #   the laws. We encourage users and give them the options to     # # #
# # #   enforce these rules. See the about page for more info.        # # #
# # #                                                                 # # #
# # #   Shinobiri is free to use and ment to be a portfolio piece.    # # # 
# # #   The front-end and back-end work is a combination of           # # #
# # #   the materialize framework and custom CSS for styling,         # # #
# # #   JQUERY and AJAX for interaction and transitions,              # # # 
# # #   Ruby on Rails as an umbrella for the project and database     # # #
# # #   production & development. And the use of several gems that    # # #
# # #   made the logic behind this idea possible.                     # # #
# # #                                                                 # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->
<!DOCTYPE html>
<html>
<head>
  <title>The Shinobiri Market.</title>

  <!-- CUSTOM FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,900,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <div class="<%=params[:action]%>">

</head>
<body>
  <div class="navbar-fixed">
    <nav class="z-depth-0 logo-nav transparent">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Shinobiri</a>
        <div class="right">
          <% if current_user && current_user.role == 'admin' %>
            <small>Hello, Master.</small>
          <% elsif current_user %> 
            <small>Hello, deshi.</small>
          <% else %>
            <small><em></em></small>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
  <div class="container main-content">
    <div class="row">
      
      <!-- FLASH ERRORS -->
      <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close right" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close right" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close right" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

      <%= yield %>
    </div>
  </div>

    
  <nav class="z-depth-0 footer">
    <small><em>Per populum, pro populo.</em></small>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= nav_link_to(root_path, {}, { :selected_class => 'active' }) do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Home">home</i>
        <%end%>
      </li>

      <li>
        <%= nav_link_to(about_path, {}, { :selected_class => 'active' }) do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="About Shinobiri">help</i>
        <% end %>
      </li>

      <li>
        <%= nav_link_to(posts_path, {}, { :selected_class => 'active' }) do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Marketplace">local_offer</i>
        <% end %>
      </li>

      <div class="user-info right">
        <% if current_user %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons exit_app tooltipped" data-position="top" data-delay="50" data-tooltip="Exit">exit_to_app</i>
          <% end %>
         <% else %>
           <li>
        <%= nav_link_to(new_user_session_path, {}, { :selected_class => 'active' }) do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Log in">vpn_key</i>
        <% end %>
      </li>

      <li>
        <%= nav_link_to(new_user_registration_path, {}, { :selected_class => 'active' }) do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Sign up">person_add</i>
        <% end %>
      </li>
         <% end %>
       </div>
    </ul>
  </nav>
  </div>
</body>

</html>
